<div class="container">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1" class="a">
      <a ngbNavLink>פרטי פעילות</a>
      <ng-template ngbNavContent>
        <app-activity (triggerTab)="changeActivityTab($event)" (updateId)="getCurrentId($event)"></app-activity>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>בעלי תפקידים</a>
      <ng-template ngbNavContent>
        <app-manage-officials (triggerTab)="changeActivityTab($event)"></app-manage-officials>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>צרכים</a>
      <ng-template ngbNavContent><app-needs></app-needs> </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
