<div class="wrapper">
  <div class="inner">
    <div class="row">
      <div class="wrap a col-4">
        <div class="inner-wrap profile">
          <i class="fas fa-user-circle fa-5x"></i>
          <h3>{{ user.name }}</h3>
          <p>למה אני לא יכול לערוך?</p>
          <a href="#">התנתק מכל המכשירים</a>
        </div>
      </div>

      <div class="wrap b col-4">
        <div *ngIf="isAdmin" class="inner-wrap security-info">
          <h3>ניהול משתמשים</h3>
          <i class="fas fa-user-edit fa-3x"></i>
          <p>התר גישה למשתמשים</p>
          <a (click)="isUpdateUsers = !isUpdateUsers">עדכן משתמשים</a>
        </div>
      </div>

      <div class="wrap c col-4">
        <div class="inner-wrap devices">
          <h3>ניהול פעילויות</h3>
          <i class="fas fa-tasks fa-3x"></i>
          <p>נהל או אשר פעילויות</p>
          <a href="">נהל פעילויות</a>
        </div>
      </div>
    </div>
    <div class="container">
      <app-manage-users
        *ngIf="isUpdateUsers"
        [connectedUser]="connectedUser"
      ></app-manage-users>
    </div>
  </div>
</div>
