<app-confirm-box [data]="content" *ngIf="showConfirmBox" (userAnswer)="handleUserAnswer($event)"></app-confirm-box>
<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<div class="wrapper">
  <div class="inner">
    <div class="row">
      <div class="wrap a col-4">
        <div class="inner-wrap profile">
          <i class="fas fa-user-circle fa-5x"></i>
          <h3 class="mt-5">{{ user?.firstName }} {{ user?.lastName }}</h3>
          <button class="btn btn-primary mb-2" (click)="logoutAll()">התנתק מכל המכשירים</button>
        </div>
      </div>

      <div class="wrap b col-4">
        <div class="inner-wrap security-info">
          <h3>ניהול משתמשים</h3>
          <i class="fas fa-user-edit fa-3x"></i>
          <p>התר גישה למשתמשים</p>
          <button class="btn btn-primary mb-2" (click)="showUsers()" [disabled]="!isAdmin">עדכן משתמשים</button>
        </div>
      </div>

      <div class="wrap c col-4">
        <div class="inner-wrap devices">
          <h3>ניהול פעילויות</h3>
          <i class="fas fa-tasks fa-3x"></i>
          <p>נהל או אשר פעילויות</p>
          <button class="btn btn-primary mb-2" (click)="showActivities()" [disabled]="!isAdmin" >נהל פעילויות</button>
        </div>
      </div>
    </div>
    <div class="container">
      <app-manage-users *ngIf="isUpdateUsers" [connectedUser]="connectedUser"></app-manage-users>

      <app-manage-activities *ngIf="isUpdateActivities" [connectedUser]="connectedUser"></app-manage-activities>
    </div>
  </div>
</div>
