<div class="wrapper">
  <section class="showcase">
    <div class="container">
      <div class="row">
        <div
          class="col-lg-7 col-10 showcase-content"
          [ngClass]="{ expandWrapper: showActivityOptions }"
        >
          <h1 dir="rtl">ברוך הבא - מערכת מנוף</h1>
          <button
            class="btn btn-primary btn-block mb-5"
            (click)="toggleActivity()">יצירת פעילות
          </button>

          <div class="options">
            <button
              [routerLink]="['/activities/manage-activity']"
              class="btn btn-primary btn-block"
              [ngClass]="{ showButtons: showActivityOptions }"
            >
              צור פעילות חדשה
            </button>

            <button
              routerLink="/activities"
              class="btn btn-primary btn-block"
              [ngClass]="{ showButtons: showActivityOptions }"
            >
              צור על בסיס פעילות קודמת
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <app-activity-cards></app-activity-cards>
</div>
