<div class="cards-wrapper">
  <div class="activity-sort">
    <div (click)="myChange('תאריך סיום')">
      <p>תאריך סיום</p>
    </div>

    <div (click)="myChange('תאריך התחלה')">
      <p>תאריך התחלה</p>
    </div>

    <div (click)="myChange('ממתין לאישור')">
      <p>ממתין לאישור</p>
    </div>
  </div>

  <section class="activities">
    <div class="message" *ngIf="isShow">
      <h2>אין פעילויות להצגה</h2>
    </div>
    <div class="arrow prev">
      <button type="button" [disabled]="!hasNext" (click)="nextPage()">
        <i class="fas fa-chevron-circle-left fa-3x"></i>
      </button>
    </div>
    <div class="activities-list" *ngIf="!isShow">
      <div
        class="card"
        *ngFor="let activity of activities; let activitiesCount = count; index as i"
        [style.z-index]="activitiesCount - i"
        [style.right.px]="250 * i + 200"
        [style.top.px]="isMobile === true ? 10 * i + 50 : 0 * i + 0"
      >
        <header class="card-header">
          <h2>{{ activity.activityName }}</h2>
          <p>תאריך יציאה: {{ activity.startDate | date }}</p>
        </header>

        <div class="card-author">
          <a href="#" class="author-avatar"><i class="fas fa-truck-monster fa-2x" style="color: #fff"></i></a>
          <svg class="half-circle" viewBox="0 0 106 57">
            <path d="M102 4c0 27.1-21.9 49-49 49S4 31.1 4 4"></path>
          </svg>
        </div>

        <div class="author-name">
          <div class="author-name-prefix">מאושר : {{ activity.isApproved === true ? 'מאושר' : 'לא מאושר' }}</div>
          <p>תאריך סיום: {{ activity.endDate | date }}</p>
          <button type="button" [routerLink]="['/activity-details']" [queryParams]="{ id: activity._id }" class="btn btn-primary">
            פרטים נוספים
          </button>
        </div>
      </div>
    </div>
    <div class="arrow next">
      <button type="button" [disabled]="!hasPrev" (click)="prevPage()">
        <i class="fas fa-chevron-circle-right fa-3x"></i>
      </button>
    </div>
  </section>
</div>
