.cards-wrapper {
  min-height: 400px;
  height: 1px;
}

.cards-wrapper .activities {
  padding: 0 100px;
  position: relative;
  height: 100%;
}

.cards-wrapper .activities .arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cards-wrapper .activities .arrow.prev {
  left: 26px;
}

.cards-wrapper .activities .arrow.next {
  right: 26px;
}

.cards-wrapper .activities .arrow i {
  cursor: pointer;
  color: #fff;
  background-color: #333;
  border-radius: 50%;
  border: 2px solid #333;
}

.cards-wrapper .activities .arrow i:hover {
  background-color: #fff;
  color: #333;
}

.cards-wrapper .activities .activities-list {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  direction: rtl;
}

.cards-wrapper .activities .activities-list .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 350px;
  width: 400px;
  min-width: 250px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #333;
  box-shadow: -1rem 0 3rem 0;
  transition: 0.2s;
  border: none;
  animation-name: card-animation;
  animation-timing-function: ease;
  animation-duration: .5s;
  position: absolute;
}

@keyframes card-animation {
  0% {
    right: 150px;
  }
}

div.card:not(:last-child) {
  margin-left: -10px;
}

div.card:first-child:hover {
  transform: none;
}

div.card:hover {
  transform: translateX(-150px);
}

.cards-wrapper .activities .activities-list .card .card-header {
  display: flex;
  flex-direction: column;
  height: 30%;
  background: #07bb6e;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cards-wrapper .activities .activities-list .card .card-header h2, .cards-wrapper .activities .activities-list .card .card-header p {
  font-weight: bold;
  color: #fff;
  text-align: center;
}

.cards-wrapper .activities .activities-list .card .card-header h2:hover {
  background: linear-gradient(90deg, #07bb6e, #333);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header.card-header h2:hover {
  background: linear-gradient(90deg, #07bb6e, #333);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cards-wrapper .activities .activities-list .card .card-author {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 1rem 0 0;
  padding: 0 1rem;
  height: 40%;
}

a.author-avatar i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  overflow: hidden;
  margin: 16px 10px;
}

svg.half-circle {
  position: absolute;
  bottom: 0;
  right: 15px;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #07bb6e;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

div.author-name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  padding: 0.25rem;
}

div.author-name-prefix, div.author-name p {
  margin: 0 1rem 1rem 0;
  color: #fff;
  text-align: right;
}

div.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #fff;
}

button.btn.btn-primary {
  border-radius: 10px;
  font-size: 16px;
  width: 50%;
  background: none !important;
  border: 2px solid #07bb6e !important;
  margin-right: auto;
  margin-left: 1rem;
  margin-bottom: 1rem;
}