* {
    direction: rtl;
}

.wrapper {
    display: flex;
    min-height: 100vh;
    position: relative;
}

.wrapper .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 100%;
    padding: 32px;
    margin: 0 auto;
    margin-bottom: 3rem;
    box-shadow: 0 0.1rem 1.25rem 0 rgba(69, 90, 100, 0.08);
    background-color: #f8f7f7f7;
}

.wrapper .inner .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 100%;
    padding: 32px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #333;
    font-weight: bold;
    background: url("../../../assets/images/left-bg.jpg") no-repeat center center/cover;
}

.wrapper .inner .right {
    display: flex;
    flex-direction: column;
    width: 65%;
    height: 100%;
}

.wrapper .inner .right .info {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
    padding: 8px 32px;
}

.wrapper .inner .right .info h3 {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}

.wrapper .inner .right .info .inner-info {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    border-top: 2px solid #ccc;
}

.wrapper .inner .right .info .inner-info .data {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.wrapper .inner .right .contact-details {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px 32px;
    flex-grow: 1;
}

.wrapper .inner .right .contact-details h3 {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}

.wrapper .inner .right .contact-details .inner-contact-details {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    border-top: 2px solid #ccc;
}

.wrapper .inner .right .contact-details .inner-contact-details .data {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 5px 0;
}

.wrapper .inner .right h3 .fas.fa-edit {
    cursor: pointer;
}

.wrapper .inner .right .data h5 {
    width: 30%;
    text-align: right;
    color: #353c4e;
    margin-bottom: 0.3rem;
    font-weight: 600;
}

.wrapper .inner .right .data p {
    vertical-align: middle;
    margin: 0;
    width: 100%;
    text-align: right;
    color: #353c4e;
    margin-bottom: 0.3rem;
    font-weight: 600;
}