<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>
<app-pop-up-message
  *ngIf="showServerMessage"
  [message]="message"
  [responseType]="responseType"
></app-pop-up-message>
<div class="wrapper">
  <div class="inner-wrapper">
    <div class="password-wrapper">
      <div class="password-icon"><i class="fas fa-unlock-alt fa-5x"></i></div>
      <div class="text">
        <h1>?שכחת סיסמא</h1>
      </div>
      <form
        [formGroup]="resetPasswordForm"
        (submit)="submitResetPasswordForm(resetPasswordForm)"
      >
        <div class="form-group">
          <input
            class="form-control"
            type="email"
            name="email"
            placeholder="אימייל"
            formControlName="email"
            [ngClass]="{
              'is-invalid':
                resetPasswordForm.controls.email.dirty &&
                resetPasswordForm.controls.email.errors
            }"
          />

          <div class="input-group-append">
            <span class="input-group-text">
              <i class="far fa-envelope fa-2x"></i>
            </span>
          </div>
          <div
            [hidden]="!resetPasswordForm.controls.email.errors?.required"
            class="invalid-feedback"
            style="text-align: center; font-size: 1rem"
          >
            <span dir="rtl" class="info">אימייל נחוץ</span>
          </div>
          <div
            [hidden]="!resetPasswordForm.controls.email.errors?.email"
            class="invalid-feedback"
            style="text-align: center; font-size: 1rem"
          >
            <span dir="rtl">אימייל לא חוקי</span>
          </div>
        </div>

        <div class="link">
          <Button
            type="submit"
            class="btn btn-primary btn-block"
            [disabled]="!resetPasswordForm.valid"
            >אפס סיסמא עכשיו</Button
          >
        </div>
      </form>
    </div>
  </div>
</div>
