div.wrapper {
    min-height: 100vh;
    position: relative;
    background-color: #06cb77;
}

div.wrapper div.inner-wrapper {
    min-height: 50vh;
    background-color: #fff;
}

div.wrapper div.inner-wrapper div.password-wrapper {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 450px;
    background-color: #f8f7f7f7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    -webkit-box-shadow: 2px -4px 119px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px -4px 119px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 2px -4px 119px 0px rgba(0, 0, 0, 0.75);
}

div.wrapper div.inner-wrapper div.password-wrapper div.password-icon {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-end;
    height: 30%;
}

div.wrapper div.inner-wrapper div.password-wrapper div.password-icon i.fas.fa-unlock.fa-5x {
    color: #333;
}

div.wrapper div.inner-wrapper div.password-wrapper div.text {
    display: flex;
    height: 30%;
    justify-content: center;
    align-items: center;
}

div.wrapper div.inner-wrapper div.password-wrapper div.text h1 {
    font-weight: bold;
    margin-top: 16px;
    text-align: center;
    letter-spacing: 3px;
}

div.wrapper div.inner-wrapper div.password-wrapper form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

div.wrapper div.inner-wrapper div.password-wrapper form input.form-control {
    width: 80%;
    height: 50px;
    margin: auto;
    text-align: right;
}

div.wrapper div.inner-wrapper div.password-wrapper form .input-group-append {
    position: absolute;
    top: 2%;
    left: 10%;
}

div.wrapper div.inner-wrapper div.password-wrapper form .input-group-text {
    border: none !important;
    background: none !important;
}

div.wrapper div.inner-wrapper div.password-wrapper form div.link button.btn.btn-primary {
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    border-radius: 5px;
}